.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'admin' folder #
admin/

# 'data' folder #
data/

# 'renv' folder #
renv/
renv.lock

# rsconnect folder
shiny_app/rsconnect/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS][xXmMtT]?

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]
packrat/lib*/