/* CSS styles used in the shiny app */

/* Shiny settings */

/* to avoid red text error messages in the whole app, take out for testing*/

.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }

/*to put dashboard title on far right of header bar in white, font size 20 */

.navbar-custom-menu {
  padding: 10px;
  min-height: 54px;
  max-height: 54px;
  text-align: center;
  color: white;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 20px;
  }

/* to force phs logo to have a white background */
.skin-blue .main-header .logo {
  background-color: white;
  min-height: 54px;
  max-height: 54px;
  }

.skin-blue .main-header .logo:hover {
  background-color: white; 
  min-height: 54px;
  max-height: 54px;
  }

.skin-blue .main-header .nav-bar-static-top {
  background-color: white; 
  min-height: 54px;
  max-height: 54px;
  }

/* makes sidebar scroll appear when needed */

.sidebar {
  height: 90vh;
  overflow-y: auto;
  }

/*to format and indent sub-menu */

.sidebar-menu .treeview-menu>li>a {
  /*padding: 5px 5px 5px 30px;
    display: block; */
    font-size: 15px;
  }

/* to wrap sidebarMenu text */
.sidebar-menu > li {
white-space: normal;
  }

/* default page format */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42857143;
    color: #3F3685;
    background-color: white;
  }

/* to force tab with no tabBox title to appear the same as the tabBox title */

.no-tabbox-title {
  border-style: solid;
  border-bottom-color: #f4f4f4;
  border-width: 0 0 1px 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px !important;
  text-align: right;
  background-color: white;
  padding: 3px 10px 5px 0;
  margin: 0 0 0 -20px;
  }

/* styles box titles - e.g. on Home and MatNeo Data Hub pages */

.box-title {
  border-style: solid;
  border-bottom-color: #3F3685;
  border-width: 0 0 1px 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px !important;
  font-weight: bold;
  text-align: left;
  background-color: #3F3685;
  padding: 0 10px;
  }
  
  /* removes line from foot of box and sets bottom margin */
  
.box {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
  }
  
/* formats bullet points specifically */

.bullet-points {
  padding-left: 20px;
  padding-bottom: 4px;
  }

.open-bullet-points {
  padding-left: 20px;
  padding-bottom: 4px;
  list-style-type: circle;
  }

/* change default fonts */

/* to make h1 title smaller and centred */  

.smaller--h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  }
  
/* to make "subtitle"" on MatNeo Data Hub page smaller */  

.smaller--h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  }
    
/* to make "subtitle"" on Home page smaller and centred */  

.smaller--h2--centred {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  }
    
/* to make h2 title 16px and bold for tab titles */  

.tabBox-title--h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
    
/* formats titles in each tab (textOutput) e.g. Core measures, by Board of Residence, for calendar year 2024 on MIO  */

.shiny-text-output {
  font-size: 26px;
  text-align: center;
  }

/* formats title text top right in tabPanel, e.g Home */

.nav-tabs-custom>.nav-tabs>li.header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #3F3685;
  }

/* formats top border of "selected" tab- close to phs-magenta */

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #8C3585;
  }

/* formats "selected" tabtitles - close to phs-magenta */

.nav-tabs-custom>.nav-tabs>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
  color: #8C3585;
  border-radius: 0;
  font-weight: bold;
  }

/* formats hover over "unselected" tabtitles - close to phs-blue no better than the default grey */

/*.nav-tabs-custom >.nav-tabs > li> a:hover {
    color: #0057ae;
    border-radius: 0;
    font-weight: bold;
  }*/

/* formats "unselected" tabtitles - phs-purple */

.nav-tabs-custom >.nav-tabs > li> a {
    color: #3F3685; 
    border-radius: 0;
    font-weight: bold;
  }

/* removes lines round boxes */

.nav-tabs-custom {
  box-shadow: none;
  }

/* formats top border of box - phs-purple-30 */ 

.box.box-primary {
    border-top-color: #C5C3DA;
  }

/* makes box boundary white */

.box.box-solid.box-primary {
  border: 1px solid white;
  }

/* formats the left-hand title in About this measure tab */

.about-this-measure-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  }

/* notes (source, caveats, data of refresh) - style */
.notes-style {
  font-size: 14px;
  }

/* formats links */

/* Set the default link colour - close to phs-magenta */

a {
  color: #8C3585; 
  }
  
/* mouse over link  - close to phs-teal */

a:hover {
  color: #1E7F84; 
  }
  